
body
{
    background-color: #fafafa;
}

#board
{
    margin: 0 auto;
    padding: 25px;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    height: 680px;
    width: 680px;

    text-align: center;

    background-color: sienna;

    box-shadow: 2px 2px 80px #777;
}

#row-wrapper
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.row
{
    padding: 0px;
    margin: 0 auto;

    width: 680px;

    text-align: center;
}

.cell
{
    display: inline-block;
    margin: 0px;
    padding: 0px;

    height: 80px;
    width: 80px;
    box-sizing:border-box;

    /*background-image: url('assets/pieces/Black-Pawn.png');*/
    background-position: center;
    background-size: contain;
}

.light
{
    background-color: #FF8C00;
}

.dark
{
    background-color: #8B4513;
}

.coordinate
{
    margin: 0 auto;
    padding: 0px;

    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    opacity: 0.1;

    color: #252525;
}